H1 {
    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
    color: #2299FF;
    background: #111133;
    text-align: center;
    padding: 4pt;
    border-top: inset;
    border-bottom: inset;
    position: relative;
}

H2 {
    font-family: Arial;
    font-size: x-large;
    font-weight: bold;
    color: #FF2211;
    background: #331111;
    text-align: center;
    padding: 3pt;
    border-top: inset;
    border-bottom: inset;
    position: relative;
}

H3 {
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: #FFFF00;
    background: #333311;
    text-align: center;
    border-top: inset;
    border-bottom: inset;
    position: relative;
}

A {
    font-family: Arial;
    font-weight: bold;
    color: #0000FF;
    text-decoration: underline;
    position: relative;
}

A:LINK {
    font-family: Arial;
    font-weight: bold;
    color: #0000FF;
    text-decoration: underline;
    position: relative;
}

A:VISITED {
    font-family: Arial;
    font-weight: bold;
    color: #800080;
    text-decoration: underline;
    position: relative;
}

B {
    font-family: Arial;
    font-weight: bold;
    color: #800000;
    position: relative;
}

I {
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    position: relative;
}

LI {
    font-family: Arial;
    font-size: medium;
    color: #000080;
    position: relative;
}

P {
    font-family: Arial;
    font-size: medium;
    color: #000080;
    font-size: 12pt;
    position: relative;
}

TD {
    font-family: sans-serif;
    font-size: medium;
    background: #99CCCC;
}

TH {
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #FF0000;
    background: #FFFF00;
    text-align: center;
    position: relative;
}

PRE {
    font-family: monospace;
    font-size: medium;
    background: #CCFFFF;
    position: relative;
    left: 1cm;
}

.first {
    border-top: ridge;
    border-left: ridge;
    border-width: thin;
    position: relative;
}

.last {
    border-bottom: ridge;
    border-right: ridge;
    border-width: thin;
}


/* Nova Classe */

.highlight {
    background-color: #FFFF00;
}

.ufo {
    font-family: "monospace";
    font-size: large;
    color: #00FF00;
    background-color: #000000;
}

.meuBotao {
    font-size: 30px;
    border-radius: 50%;
    width: 50%;
    height: 100px;
}

.meuBotao:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
